<!DOCTYPE html>

    <html>
    <html lang="en-US">
    <meta charset="utf-8" />

    <title>first page</title>
    </head>
    <style>
    div.img a:hover img {
    border: 1px solid #0000ff;
    }
    </style>
    <body>
    <center>

    <img src="images.png" width="500" height="150">
    <u><h1 id = "kosher">Kosher apps</h1></u>
    <hr>
    <form action="">
    Search :
    <input type="text" name="Search">

    <hr>
    <link rel="stylesheet" href="style.css">
    

        <div class="name" >
        <a href="https://play.google.com/store/apps/details?id=com.kiloo.subwaysurf">
        <img src="https://lh3.googleusercontent.com/-gEFw3tNPqLIiR4OUcVhmYtmvolJHxdauraygimLKikNhAtbrEAhRjqGP4wgoz9gZRU=w300"  style="width:120px;height:100px;border:0">
        </a>
        <div style="background-color:White; color:black; padding:10px;">
        <h6>Subway Surfers </h6>
        <p>Subway Surfers </p>
        </div></div>
        <div class="name" >
        <a href="https://play.google.com/store/apps/details?id=com.waze">
        <img src="https://lh3.ggpht.com/7JPOKRuanUwnX42dJ9H-PscC-sRkK43GQGRoklxusB4FKBPJEOJY3c7ZhQbcsXol-v8=w300"  style="width:120px;height:100px;border:0">
        </a>
        <div style="background-color:White; color:black; padding:10px;">
        <h6>Waze Traffic </h6>
        <p>Waze Traffic </p>
        </div></div>
        <div class="name" >
        <a href="https://play.google.com/store/apps/details?id=com.facebook.katana">
        <img src="https://lh3.googleusercontent.com/ZZPdzvlpK9r_Df9C3M7j1rNRi7hhHRvPhlklJ3lfi5jk86Jd1s0Y5wcQ1QgbVaAP5Q=w300"  style="width:120px;height:100px;border:0">
        </a>
        <div style="background-color:White; color:black; padding:10px;">
        <h6>Facebook </h6>
        <p>Facebook </p>
        </div></div>
        <div class="name" >
        <a href="https://play.google.com/store/apps/details?id=com.ebay.mobile">
        <img src="https://lh3.ggpht.com/IaZ95xVwF-EL7-__IjE1e2M_KUZEh3ZvUwJPn_wYW7INKiKOfZbkJN2XJ1cDo49RcsaH=w300"  style="width:120px;height:100px;border:0">
        </a>
        <div style="background-color:White; color:black; padding:10px;">
        <h6>eBay </h6>
        <p>eBay </p>
        </div></div>
        <div class="name" >
        <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.translate">
        <img src="https://lh5.ggpht.com/_oJcEUNMen3q-CL0zaH3bGMNHIUynnWUbAYOnl12QuwblFFVQhqfa5jEItCpz_5uvG4=w300"  style="width:120px;height:100px;border:0">
        </a>
        <div style="background-color:White; color:black; padding:10px;">
        <h6>Google Translate </h6>
        <p>Google Translate </p>
        </div></div>
        <div class="name" >
        <a href="https://play.google.com/store/apps/details?id=com.google.android.youtube">
        <img src="https://lh5.ggpht.com/jZ8XCjpCQWWZ5GLhbjRAufsw3JXePHUJVfEvMH3D055ghq0dyiSP3YxfSc_czPhtCLSO=w300"  style="width:120px;height:100px;border:0">
        </a>
        <div style="background-color:White; color:black; padding:10px;">
        <h6>YouTube </h6>
        <p>YouTube </p>
        </div></div>
        <div class="name" >
        <a href="https://play.google.com/store/apps/details?id=com.devuni.flashlight">
        <img src="https://lh3.ggpht.com/aFo5TwJieEcGiqFOAAEznv1V22YPPOLSyeGc2w4_YpUKztu_wBNB1ghw0wCcZQWMlIPJ=w300"  style="width:120px;height:100px;border:0">
        </a>
        <div style="background-color:White; color:black; padding:10px;">
        <h6>Tiny Flashlight</h6>
        <p>Tiny Flashlight</p>
        </div></div>
        <div class="name" >
        <a href="https://play.google.com/store/apps/details?id=com.twitter.android">
        <img src="https://lh3.ggpht.com/lSLM0xhCA1RZOwaQcjhlwmsvaIQYaP3c5qbDKCgLALhydrgExnaSKZdGa8S3YtRuVA=w300"  style="width:120px;height:100px;border:0">
        </a>
        <div style="background-color:White; color:black; padding:10px;">
        <h6>Twitter </h6>
        <p>Twitter </p>
        </div></div>
        <div class="name" >
        <a href="https://play.google.com/store/apps/details?id=com.jb.emoji.gokeyboard">
        <img src="https://lh3.ggpht.com/BfMJpHXJ4WKbYMFQCJLaGlEdiCOut0JLob4O5sEZul0v0QPXdSAekSw9VLBUAj6QBDla=w300"  style="width:120px;height:100px;border:0">
        </a>
        <div style="background-color:White; color:black; padding:10px;">
        <h6>GO Keyboard</h6>
        <p>GO Keyboard</p>
        </div></div>
        <div class="name" >
        <a href="https://play.google.com/store/apps/details?id=com.imangi.templerun2">
        <img src="https://lh3.googleusercontent.com/7A-m5Eayursob4Gtj-FZ0fpK1ELh1maprfNifQ-l85aSS5Hxq7OG41l0n3qHP61exzBe=w300"  style="width:120px;height:100px;border:0">
        </a>
        <div style="background-color:White; color:black; padding:10px;">
        <h6>Temple Run 2 </h6>
        <p>Temple Run 2 </p>
        </div></div>
        <div class="name" >
        <a href="https://play.google.com/store/apps/details?id=com.rovio.angrybirds">
        <img src="https://lh6.ggpht.com/M9q_Zs_CRt2rbA41nTMhrPqiBxhUEUN8Z1f_mn9m89_TiHbIbUF8hjnc_zwevvLsRIJy=w300"  style="width:120px;height:100px;border:0">
        </a>
        <div style="background-color:White; color:black; padding:10px;">
        <h6>Angry Birds </h6>
        <p>Angry Birds </p>
        </div></div>
</body>
</center>
</html>